[Unit]
Description={{ service_description }}
Documentation=https://prometheus.io/docs/guides/node-exporter/
Wants=network-online.target
After=network-online.target

[Service]
Restart=Always
ExecStart={{ exec_start }}
User={{ user }}
Group={{ group }}

[Install]
WantedBy=multi-user.target