[Unit]
Description={{ service_description }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ group }}
Type=simple
ExecStart={{ exec_start }}
Restart=always

[Install]
WantedBy=multi-user.target
